.container{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: #00A8E8;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
}
h2{
  padding-top: 2rem;
  text-align: center;
  color: white;
}
.row{
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.column-third{
  width: 31%;
  padding-top: 1rem;
}

img{
  height: 60px;
  margin: auto;
}
.image-container{
  border: solid white;
  border-radius: 50%;
  background-color: white;
  height: 7rem;
  width: 7rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
h3{
  width: 100%;
  color: white;
}
p{
  width: 100%;
  line-height: 1.5rem;
  color: rgb(228, 226, 226);
}
