.container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.row{
  display: flex;
}
.column-half{
  width: 50%;
  display: flex;
}
.column-third{
  width: calc(100% / 3);
}
.link, .yoshi{
  width: 100%;
}
.column-fourth{
  width: 25%;
}
.kirby, .fox , .pikachu, .ness{
  width: 100%;
}
