.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  text-align: center;
  padding-top: 2rem;
}

.column-half {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1rem;
}

.header{
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  width: 100%;
}
h1{
  padding-top: 2rem;
  font-size: 250%;
  text-transform: uppercase;
}
.para{
  width: 87%;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  color: rgb(104, 102, 102);
  position: relative;
  right: 2rem;
  line-height: 1.5;
  font-size: small;
}
.para-two{
  width: 88%;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  color: rgb(104, 102, 102);
  position: relative;
  left: 2rem;
  line-height: 1.5;
  font-size: small;
}
.para-three{
  width: 80%;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  color: rgb(104, 102, 102);
  position: relative;
  top: 2rem;
  right: 2.2rem;
  line-height: 1.5;
  font-size: small;
}
.para-four{
  width: 85%;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  color: rgb(104, 102, 102);
  position: relative;
  top: 2rem;
  left: 2rem;
  line-height: 1.5;
  font-size: small;
}
.header-para{
  color: rgb(104, 102, 102);
  font-size: small;
  line-height: 1.5rem;
}
h3{
  display: block;
  text-transform: uppercase;
  font-size: medium;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

img {
  height: 100px;
}

.software{
  position: relative;
  bottom: 1rem;
  right: 2rem;
}
.circumstance{
  position: relative;
  right: 2rem;
  top: 1rem;
}
.practice{
  position: relative;
  bottom: 1rem;
  left: 2rem;
}
.data{
  position: relative;
  left: 2rem;
  top: 1rem;

}

.info {
  text-align: left;

}
.top-header, .bottom-header{
  position: relative;
  right: 2rem;
}
.top-header-two, .bottom-header-two{
  position: relative;
  left: 2rem;
}
.bottom-header , .bottom-header-two{
  position: relative;
  top: 2rem;
}

button {
  background-color: white;
  color: rgb(211, 75, 51);
  height: 35px;
  width: 160px;
  font-family: 'Karla', sans-serif;
  margin: auto;
  text-align: center;
  font-size: medium;
  position: relative;
  right: 1.5rem;
  top: 3.5rem;
  border-color: rgb(211, 75, 51);

}

.button-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;

}
